parameters:
    level: max
    paths:
        - src/
        - tests/Support/
    ignoreErrors:
        -
            message: '#is assigned outside of the constructor#'
            path:  src/
        -
            message: '#Throwable is never thrown in the try block.#'
            path:  src/
